@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-belgian-black: 0 0 0;
    --color-belgian-yellow: 253 218 36;
    --color-belgian-red: 239 51 64;
  }
}

@layer components {
  .nav-link {
    @apply flex items-center space-x-2 px-3 py-2 rounded-md text-sm font-medium hover:bg-belgian-yellow hover:text-belgian-black transition-colors;
  }
}

body {
  @apply antialiased text-belgian-black bg-gray-50;
}